doctype
html(ng-app='preLoginModule')
  head
    meta(charset='utf-8')
    // Title here
    title= title
    // Description, Keywords and Author
    meta(name='description', content='Your description')
    |     
    meta(name='keywords', content='Your,Keywords')
    |     
    meta(name='author', content='@irfaan_aa')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Styles
    // Bootstrap CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css')
    // load bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    |     
    link(rel='stylesheet', href='../assets/css/style.css')
    // jQuery UI
    link(rel='stylesheet', href='../assets/css/jquery-ui.css')
    // jQuery Gritter
    link(rel='stylesheet', href='../assets/css/jquery.gritter.css')
    // Widgets stylesheet
    link(href='../assets/css/widgets.css', rel='stylesheet')
    // Favicon
    link(rel='shortcut icon', href='#')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js')
    // script(src='../bower_components/datatables/media/js/jquery.dataTables.min.js')
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js')
    // script(src='../bower_components/angular-datatables/dist/angular-datatables.min.js')
    script(src='../assets/js/angular-datatables.min.js')
    // script(src='../assets/js/jquery-ui.min.js')
    // script(src='../assets/js/jquery.gritter.min.js')
    script(src='../assets/js/custom.js')
    script(src='../preLogin.routes.js')
    script(src='../login/login.ctrl.js')
    script(src='../assets/js/angular-flash.js')
    block script
  body
    block header
    
    div(ui-view='', autoscroll='true') Loading login form...
    
    block extra-script  