.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav(role='banner')
    .container
        // Menu button for smallar screens
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand(href='index.html')
            img(src='/assets/img/logo.png', alt='')
        // Site name for smallar screens
        // Navigation starts
        nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
          // Links
          ul.nav.navbar-nav.navbar-right
            li.admin-message
              | Welcome back, 
              span Jacob!
              a(href='/#/logout/') Logout