extends layout
block header
  include header.jade
  
block content
  include sidebar.jade
  
block script
  //- script(src='../core.min.js')
  script(src='../postLogin.routes.js')
  script(src='../merchant/merchant.ctrl.js')
  script(src='../customer/customer.ctrl.js')
  script(src='../subscription/subscription.ctrl.js')
  script(src='../merchant/merchant.subscription.ctrl.js')
  script(src='../payment/payment.ctrl.js')
  script(src='../shared/logout.ctrl.js')
  //script(src='../assets/js/controllers/main.js')
  script(src='../assets/js/angular-flash.js')
  script(src='../assets/js/jquery.dataTables.min.js')
  link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/t/dt/jq-2.2.0,dt-1.10.11/datatables.min.css')


  