.sidebar
      .sidebar-dropdown
        a(href='#') Navigation
      .sidebar-inner(style='height: 100%;')
        // Search User
        .sidebar-widget.widget-user
          ul
            li.dropdown
              a.dropdown-toggle
                .pull-left.user-info
                  | Sir Jacob 
                  
                  span Super Admin
              // Dropdown menu
            //   ul.dropdown-menu
            //     li
            //       a(href='#')
            //         i.fa.fa-cogs
            //         |  Settings
        .clearfix
        // - Sidebar navigation
        // If the main navigation has sub navigation, then add the class "has_submenu" to "li" of main navigation.
        ul.navi
          // Use the class nred, ngreen, nblue, nlightblue, nviolet or norange to add background color. You need to use this in <li> tag.
          li(ng-attr-class="{{$state.current.menu=='menuCustomer' && 'current' || '' }}")
            a(ui-sref='.customers')
              i.fa.fa-desktop
              |  Customers
          li(ng-attr-class="{{$state.current.menu=='menuMerchant' && 'current' || '' }}")
            a(ui-sref='.merchants')
              i.fa.fa-table
              |  Merchants
          li(ng-attr-class="{{$state.current.menu=='menuMerchantSubscription' && 'current' || '' }}")
            a(ui-sref='.subscription')
              i.fa.fa-table
              |  Subscription
          li(ng-attr-class="{{$state.current.menu=='menuPayment' && 'current' || '' }}")
            a(ui-sref='.payment')
              i.fa.fa-table
              |  Payments
          li(ng-attr-class="{{$state.current.menu=='menuSubscription' && 'current' || '' }}")
            a(ui-sref='.subscriptionMeta')
              i.fa.fa-table
              |  Subscription Meta
        // / Sidebar navigation .current(ng-if='$state.current.menu=="mer"')
        // sidebar toggle button & logout
        .sidebar-inner-bottom
          a(href='login.html') Logout
          i.fa.fa-align-justify
    .mainbar
      // Matter
      .matter
        .container-fluid
          div(ui-view='', autoscroll='false') Loading data... Checking authentication...
      // / Matter ends
    // / Mainbar ends 
    .clearfix