
<div class="row">
    <div class="col-md-12">
    <div class="widget">
            <div class="widget-head">
                <h3 class="pull-left">All Payment detail</h3>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content">
                <!-- Tip: flash message http://sachinchoolur.github.io/angular-flash/ -->
                <flash-message duration="5000" show-close="true" ></flash-message>
                <!-- Tip below table would be converted into datatable at runtime if we add
                datatable as dependency while initiating angular module. It also requires
                4 js file to work. Jquery, jquery-dattable, angular and angular-datatable.
                See more detail at http://l-lin.github.io/angular-datatables/#/angularWay-->
                <table datatable="ng" id="tblPayment" class="table table-bordered ">
                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>Merchant #ID</th>
                        <th>Merchant Name</th>
                        <th>Transaction #ID</th>
                        <th>Payer #ID</th>
                        <th>Amount (USD)</th>
                        <th>Status</th>
                        <th>Payment mode</th>
                        <th>Payment Date</th>
                        <th>Next Payment Due</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in items">
                        
                        <td>{{i.id}}</td>
                        <td>{{i.merchantId}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.txn_id}}</td>
                        <td>{{i.payer_id}}</td>
                        <td>USD {{i.amount}}</td>
                        <td>{{i.status}}</td>
                        <td>{{i.mode_of_pay}}</td>
                        <td>{{i.paymentDate}}</td>
                        <td>{{i.nextPaymentDue}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

