<div class="admin-form">
    <!-- Widget starts -->
    <div class="widget">
        <!-- Widget head -->
        <div class="widget-head">
            <img src="../assets/img/logo.png">
        </div>
        <!-- Login form -->
        <form class="form-horizontal">

            <div class="widget-content">
                <!--<div class="col-sm-12" ng-show="isError">
                        <div class="alert alert-danger">{{error.message}}</div>
                    </div>-->
                    <flash-message duration="5000" show-close="true" ></flash-message>
                <div class="padd">
                    
                    <!-- Email -->
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" value="irfan" ng-model="user.username" class="form-control" id="inputEmail" placeholder="Username"><i class="fa fa-user"></i>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" value="irfanpass" ng-model="user.password" class="form-control" id="inputPassword" placeholder="Password"><i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="widget-foot text-right">
                <!-- Remember me checkbox and sign in button -->
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <button type="button" class="btn btn-danger btn-lg" ng-click="login()">Sign in</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</div>