
<div class="row">
    <div class="col-md-12">
    <div class="widget">
            <div class="widget-head">
                <h3 class="pull-left">All Registered Merchants</h3>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content">
                <!-- Tip: flash message http://sachinchoolur.github.io/angular-flash/ -->
                <flash-message duration="5000" show-close="true" ></flash-message>
                <!-- Tip below table would be converted into datatable at runtime if we add
                datatable as dependency while initiating angular module. It also requires
                4 js file to work. Jquery, jquery-dattable, angular and angular-datatable.
                See more detail at http://l-lin.github.io/angular-datatables/#/angularWay-->
                <table datatable="ng" id="tblMerchant" class="table table-bordered ">
                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>Name</th>
                        <th>Contact Number</th>
                        <th>Speciality</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Rating</th>
                        <th>Registration Fee</th>
                        <th>Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="m in merchants">
                        <td> {{m.user_id}}</td>
                        <td>{{m.name}}</td>
                        <td>{{m.phone}}</td>
                        <td>{{m.specialize_in}}</td>
                        <td>{{m.city}}</td>
                        <td>{{m.country}}</td>
                        <td>{{m.rating}}</td>
                        <td>{{m.payment_status}}</td>
                        <td>
                            <a class="btn sm btn-info" ng-click='showLocation(m.latitude,m.longitude)'><i class="fa fa-map-marker"></i></a>
                            &nbsp;
                            <a class="btn sm btn-warning" ng-click='showDetail(m.user_id,$index)'><i class="fa fa-info"></i></a>
                            &nbsp;
                            <a class="btn sm btn-danger" ng-click='delete(m.user_id,$index)'><i class="fa fa-times"></i></a>
                            <!--<a href="/#/merchants/delete/{{m.user_id}}" onclick="return confirm('This will delete one record. Are you sure?')">
            <i class="fa fa-trash fa-2x"></i></a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

