

<div class="row">
    <div class="col-md-12">
    <div class="widget">
            <div class="widget-head">
                <h3 class="pull-left">Merchants Subscription</h3>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content">
                <!-- Tip: flash message http://sachinchoolur.github.io/angular-flash/ -->
                <flash-message duration="5000" show-close="true" ></flash-message>
                <!-- Tip below table would be converted into datatable at runtime if we add
                datatable as dependency while initiating angular module. It also requires
                4 js file to work. Jquery, jquery-dattable, angular and angular-datatable.
                See more detail at http://l-lin.github.io/angular-datatables/#/angularWay-->
                <table datatable="ng" id="tblMerchantSubscription" class="table table-bordered ">
                    <thead>
                    <tr>
                        <th>Merchant #ID</th>
                        <th>Name</th>
                        <th>Subscription Plan</th>
                        <th>Amount Paid</th>
                        <th>Tenure</th>
                        <th>Deals block</th>
                        <th>Events block</th>
                        <th>Keywords</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="m in merchants">
                        <td> {{m.merchantId}}</td>
                        <td>{{m.name}}</td>
                        <td>{{m.planName}}</td>
                        <td>{{m.paidAmount}}</td>
                        <td>{{m.max_deals}}</td>
                        <td>{{m.max_events}}</td>
                        <td>{{m.max_keywords}}</td>
                        <td>{{m.Months}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

