/* Widget css */

/* Chat Widget starts */

.chats{
	list-style-type: none;
	margin: 0px;
}

.chats li{
	margin-bottom: 8px;
	padding-bottom: 8px;
}

.chats .by-me img{
	max-width:40px;
	margin-top: 5px;
	margin-right:10px;
}

.chats .by-me .chat-meta{
	font-size: 10px;
}

.chats .by-me .chat-content{
	margin-left: 60px;
	position: relative; 
	background: #f7f7f7; 
	padding: 7px 10px;
	font-size: 12px;
	border-top: 2px solid #fa3031;
}

.chats .by-me .chat-content:after, .chats .by-me .chat-content:before { 
	right: 100%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
} 

.chats .by-me .chat-content:after { 
	border-color: rgba(255, 255, 255, 1); 
	border-right-color: #f7f7f7; 
	border-width: 10px; 
	top: 30%; 
	margin-top: -10px; 
} 

.chats .by-me .chat-content:before { 
	border-color: rgba(238, 238, 238, 0); 
	border-right-color: #ccc; 
	border-width: 11px; 
	top: 30%; 
	margin-top: -11px; 
}

.chats .by-other img{
	max-width:40px;
	margin-top: 5px;
	margin-left:10px;
}

.chats .by-other .chat-meta{
	font-size: 10px;
	color: #999;
}

.chats .by-other .chat-content{
	margin-right: 60px;
	position: relative; 
	background: #f7f7f7; 
	border-top:2px solid #43c83c;
	padding: 7px 10px;
	font-size: 12px;
}

.chats .by-other .chat-content:after, .chats .by-other .chat-content:before { 
	left: 100%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
} 

.chats .by-other .chat-content:after { 
	border-color: rgba(255, 255, 255, 1); 
	border-left-color: #f7f7f7; 
	border-width: 10px; 
	top: 30%; 
	margin-top: -10px; 
} 

.chats .by-other .chat-content:before { 
	border-color: rgba(238, 238, 238, 0); 
	border-left-color: #ccc; 
	border-width: 11px; 
	top: 30%; 
	margin-top: -11px; 
}

/* Chat widget ends */


/* Recent posts & Comments widgets starts */


.recent-content .btn{
	font-size: 11px !important;
	margin-top: 5px;
}

.recent-meta{
	font-size: 10px;
	color: #999;
}

.recent {
	list-style-type: none;
	margin: 0px;
	font-size: 13px;
	line-height: 23px;
}

.recent img{
	max-width:40px;
	margin-top: 5px;
	margin-right:10px;
}

.recent li{
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #eee;
}

/* Recent posts and comments widget ends */

/* File upload widget starts */

.file-upload{
	list-style-type: none;
	margin: 0px;
	padding:0px;
}

.file-upload .btn{
	font-size: 8px !important;
}

.file-upload li{
	padding:10px 0px;
}

.file-upload li:first-child{
	border-top: 0px;
}

.file-upload .file-meta{
	font-size: 12px;
	padding: 3px 0px;
}

.file-upload .progress{
	margin: 7px 0px !important;
}

/* File upload widget ends */


/* Photo widget */

.widget-photo {
    background: #ffffff url('../img/widgets-img.jpg') no-repeat center center;
    background-size: cover;
    min-height: 300px;
    position: relative;
    text-align: center;
}
.ie8 .widget-photo { background-size: 100% 100%;}
.widget-photo > div {
    background-color: #ffffff;
    background-color: rgba(255,255,255,0.75);
    bottom: 10%;
    color: #9ea7b3;
    font-size: 24px;
    height: 80px;
    left: 0;
    line-height: 80px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 80%;
}
.widget-photo > div a i { color: #2c3143;}
.widget-photo > div a:hover i { color: #f47264;}
.widget-photo > div a+a {margin-left: 10%}

@media (max-width: 1340px) {
    .widget-photo > div {
        font-size: 20px;
    }
}
@media (max-width: 1160px) {
    .widget-photo > div {
        font-size: 16px;
    }
}
/* Video widget */
.widget-video {
    background: transparent;
    border: 0;
}
.widget-video iframe,
.widget-video object,
.widget-video embed {
    height: 100%;
    width: 100%;
}
/* Updates widget */
.widget-updates {
    border-left: 1px solid #eeeeee;
    padding: 0 0 0 25px;
    position: relative;
}
.widget-updates h6 {
    color: #2c3144;
    text-transform: uppercase;
}
.widget-updates .updates-time:before {
    background-color: #EEEEEE;
    border-bottom: 8px solid #FFFFFF;
    border-top: 8px solid #FFFFFF;
    content: "";
    height: 25px;
    left: -30px;
    position: absolute;
    top: -3px;
    width: 9px;
}
.widget-updates .updates-time {
    color: #9ea7b3;
    position: relative;
}
.widget-updates article + article { margin-top: 20px;}
/* Tasks starts */

.task{
	list-style-type: none;
	margin: 0px;
	padding:0px;
}

.task li{
	padding:12px 10px;	
  border-top: 1px solid #ddd;
}

.task li:first-child{
	border-top: 0px;
}

.task input{
	margin-right:5px;
}

.task .label{
	margin-left: 5px;
}

.task .btn{
	font-size: 11px !important;
}

/* Tasks ends */

/* Referrer - OS and Browser */

.referrer img{
	max-width: 20px;
	width: 20px;
	display: block;
	margin: 0 auto;
}

/* Referrer ends */

/* Latest news */

.latest-news{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.latest-news li{
	border-bottom: 1px solid #f4f5f9;
	margin-bottom: 30px;
    padding-bottom: 30px;
    text-align: justify;
}

.latest-news li:last-child{
	border-bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.latest-news h6{
	line-height: 20px;
}

.latest-news h6 span{
	font-weight: normal;
	font-size: 11px;
	color: #666;
}

/* Quick post */

.quick-post{
	margin-top: 20px;
}

/* Project starts */

.project{
	list-style-type: none;
	margin: 0px;
	padding:0px;
}

.project li{
	padding:10px 10px;
  border-top: 1px solid #ddd;
}

.project li:first-child{
	border-top: 0px;
}

.project p{
	font-weight: bold;
	margin: 0px !important;
	padding: 0px !important
}

.project .p-meta{
	font-size: 11px;
	font-weight: normal;
	margin-left: 20px !important;
	margin-bottom: 5px !important;
}

.project .progress{
	margin:0px !important;
	padding: 0px !important;
	margin-left: 20px !important;
}

/* Proejct ends */

/* Recent Activity starts */

.activity{
	list-style-type: none;
	margin: 0px;
	padding:0px;
}

.activity li{
	padding:10px 10px;
  background-color: #fff;	
  border-top: 1px solid #ddd;
}

.activity li:first-child{
	border-top: 0px;
}

.activity i{
	margin-right: 5px;
}

/* Recent activity ends */

/* Google maps */

.gmap iframe{
	width: 100%;
	margin: 0px !important;
	padding: 0px !important;
}
.gmap-info:before {
    color: #333333;
    content: "\f041";
    font-family: "FontAwesome";
    font-size: 35px;
    left: 10px;
    position: absolute;
    top: 8px;
}
.gmap-info {
    float: left;
    padding: 0 20px 0 50px;
    position: relative;
}
.gmap-buttons {
    float: right;
    margin-top: 28px;
}
.gmap-buttons .btn { margin-left: 3px;}
/* Google maps ends */

/* Users starts */

.user h6{
	line-height: 17px !important;
}

.user{
	font-size: 12px !important;
	line-height: 20px !important;
}

.user img{
	max-width: 70px;
	margin-top: 10px;
}

.user .user-pic{
	float: left;
	width: 80px;
}

.user .user-details{
	margin-left: 85px;
}

.user .btn{
	font-size: 11px !important;
}

/* Users ends */
.widget-icon-info-container {
    border-left: 1px solid #EFF0F3;
    border-top: 1px solid #EFF0F3;
    margin-bottom: 15px;
}
.widget-icon-info {
    background-color: #ffffff;
    border-bottom: 1px solid #EFF0F3;
    border-right: 1px solid #EFF0F3;
    color: #838383;
    font-size: 14px;
    padding: 24px;
    text-transform: uppercase;
}
.widget-icon-info span {
    color: #464f70;
    display: block;
    font-size: 24px;
}
@media (width: 1024px) {
    .widget-icon-info span {
        font-size: 16px;
    }
}
.widget-icon-info i {
    color: #464f70;
    font-size: 44px;
    margin-right: 30px;
}
.widget-icon-info.info-red span,
.widget-icon-info.info-red i { color: #f47264;}
.widget-icon-info.info-light span,
.widget-icon-info.info-light i { color: #828aaf;}
.widget-icon-info.info-lightblue span,
.widget-icon-info.info-lightblue i { color: #40c0c1;}

.widget-info-2:before {
    bottom: 30px;
    color: #3e4667;
    content: "\f086";
    font-size: 150px;
    font-family: "FontAwesome";
    position: absolute;
    right: -10px;
    z-index: -1;
}
.widget-info-2 {
    background: #585f7e url('../img/widget-info-2-bg.jpg') no-repeat left top;
    background-size: cover;
    border-bottom: 2px solid #242a43;
    color: #ffffff;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.ie8 .widget-info-2 {background-size: 100% 100%;}
.widget-info-2 p {font-size: 28px;}
.widget-info-2 p span {
    font-size: 18px;
    text-transform: uppercase;
}
.widget-info-2.wi2-red:before {
    color: #da5b50;
    content: "\f0c0";
}
.widget-info-2.wi2-red {
    background-image: url('../img/widget-info-2-bg-red.jpg');
    background-color: #f68578;
    border-bottom-color: #f2473c;
}
.widget-info-2.wi2-lightblue:before {
    color: #3a9fa1;
    content: "\f003";
}
.widget-info-2.wi2-lightblue {
    background-image: url('../img/widget-info-2-bg-lightblue.jpg');
    background-color: #57cacb;
    border-bottom-color: #1f9b9e;
}


/* Widget donut */
.widget-donut {
    background: #383f51 url('../img/bg.jpg');
}
.widget-donut .widget-head { color: #ffffff;}
.widget-donut .widget-content { background-color: #f3f5f9; color: #343a4b;}
.widget-donut .widget-foot {
    background-color: #f3f5f9;
}

/* Widget graph info */
.widget-graph-info-container > .row > div {
    border-right: 1px solid #eff0f3;

}
.widget-graph-info-container > .row > div:last-of-type {
    border: 0;
}
.widget-graph-info {
    border: 0;
    color: #41c0c2;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}
.widget-graph-info.wgi-red { color: #f47264;}
.widget-graph-info span {
    color: #838484;
    display: block;
    font-size: 14px;
}
@media (width: 1024px) {
    .widget-graph-info {
        font-size: 20px;
    }
}