
<div class="row">
    <div class="col-md-12">
    <div class="widget">
            <div class="widget-head">
                <h3 class="pull-left">All Registered Customers</h3>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content">
                <!-- Tip: flash message http://sachinchoolur.github.io/angular-flash/ -->
                <flash-message duration="5000" show-close="true" ></flash-message>
                <!-- Tip below table would be converted into datatable at runtime if we add
                datatable as dependency while initiating angular module. It also requires
                4 js file to work. Jquery, jquery-dattable, angular and angular-datatable.
                See more detail at http://l-lin.github.io/angular-datatables/#/angularWay-->
                <table datatable="ng" id="tblCustomers"  class="table table-bordered ">
                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact Number</th>
                        <th>Address</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Province</th>
                        <th>Suburb</th>
                        <th>Action</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="u in customers">
                        <td> {{u.user_id}}</td>
                        <td>{{u.first_name}} {{u.surname}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.mobile_number}}</td>
                        <td>{{u.address}}</td>
                        <td>{{u.country}}</td>
                        <td>{{u.city}}</td>
                        <td>{{u.province}}</td>
                        <td>{{u.suburb}}</td>
                        <td>
                            <button class="btn btn-sm btn-danger" ng-click='delete(u.user_id,$index)'><i class="fa fa-times"></i></button>
                            <!--<a href="" onclick="return confirm('This feature is disabled to prevent data deletion')">
            <i class="fa fa-trash fa-2x"></i></a>-->
                        </td>
                    </tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>   
</div>      
  
     