
<div class="row">
    <div class="col-md-12">
    <div class="widget">
            <div class="widget-head">
                <h3 class="pull-left">All Subscription Plans</h3>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content">
                <!-- Tip: flash message http://sachinchoolur.github.io/angular-flash/ -->
                <flash-message duration="5000" show-close="true" ></flash-message>
                <!-- Tip below table would be converted into datatable at runtime if we add
                datatable as dependency while initiating angular module. It also requires
                4 js file to work. Jquery, jquery-dattable, angular and angular-datatable.
                See more detail at http://l-lin.github.io/angular-datatables/#/angularWay-->
                <table datatable="ng" id="tblSubscriptionPlans" class="table table-bordered ">
                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>Plan Name</th>
                        <th>Keywords</th>
                        <th>Deals</th>
                        <th>Events</th>
                        <th>Monthly Price</th>
                        <th>Half Yearly Price</th>
                        <th>Annual Price</th>
                        <th>Status</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in items">
                        
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.keywords}}</td>
                        <td>{{i.deals}}</td>
                        <td>{{i.events}}</td>
                        <td>R {{i.price1}}</td>
                        <td>R {{i.price2}}</td>
                        <td>R {{i.price3}}</td>
                        
                        <td>
                            <input type="checkbox" ng-checked="{{i.status}}" ng-click='toggleStatus(i.id,i.statusValue,$index)' id="inlineCheckbox1">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

